<div class="d-flex-column align-items-center">
  <h1>Result</h1>

  <div class="d-flex m-3">
    <p>Your result :</p>
    <p><%= @result %></p>
  </div>

  <div class="text-muted">
    <p><%= link_to "Play again", new_path, class: "btn btn-success text-decoration-none"%></p>
  </div>
</div>
